{% extends "/admins/base_template.html" %}
{% block title %}Dashboard Home{% endblock %}
{% block body %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="row text-center">

        <div>
            <strong>VIX - {{ vix }} ( {{ vixchange}} ) </strong>
        </div>
        <br>
        <br>
        <div>
            <strong>Nifty - {{ nfltp }} ( {{ nfchange}} ) </strong>
        </div>
        <br>
        <br>
        <div>
            <strong>Bank Nifty - {{ bnfltp }} ( {{ bnfchange }} )</strong>
        </div>
        <br>
        <br>
    </div>
</div>

<div class="row">
    <div class="row text-center">
        <form method="POST" action="/admins/collectoldoidetails/">
            <fieldset>
                <div>
                    <strong>Collect Previous Day OI Details</strong>
                </div>
                <br>
                <br>
                <div>
                    <span>Expiry Date</span>
                    <input type="text" class="input-large" name="expirydate" required/>
                </div>
                <br>
                <br>
                <div>
                    <input value="Go!" type="submit" class="btn btn-primary">
                </div>
                <br>
                <br>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="row text-center">
        <form method="POST" action="/admins/schedule/">
            <fieldset>
                <div>
                    <strong>Collect Current Day OI Details</strong>
                </div>
                <br>
                <br>
                <div>
                    <input value="Go!" type="submit" class="btn btn-primary">
                </div>
                <br>
                <br>
            </fieldset>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    {% if category == "error" %}
    <div class="alert alert-error" style="margin: 0 auto;">
        <strong>{{ message }}</strong>
    </div>
    {% else %}
    <div class="alert alert-success" style="margin: 0 auto;">
        <strong>{{ message }}</strong>
    </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}
