{% extends "/admins/base_template.html" %}
{% block title %}Put OI Change Chart{% endblock %}
{% block body %}
{% for data in datas %}
{% if data[0] |int >= bnf_ltp | int - 600 and data[0] |int <= bnf_ltp | int + 600 %}
<div id="chart{{ data[0] | int}}"></div>
{% endif %}
{% endfor %}
<script src="/static/d3.v5.min.js" charset="utf-8"></script>
<script src="/static/c3.js"></script>
<link href="/static/c3.min.css" rel="stylesheet" type="text/css">

{% for data in datas %}
{% if data[0] |int >= bnf_ltp | int - 600 and data[0] |int <= bnf_ltp | int + 600 %}
    <script>
      var chart = c3.generate({
      size: {
        height: 400,
        width: 1000
        },
        title: {
        text: '{{ data[0] | int}}'
        },
         color: {
        pattern: ['#1f77b4', '#aec7e8', '#ff7f0e']
        },
        bindto: '#chart{{ data[0] | int}}',
        data: {
          x : 'Time',
          xFormat : '%H:%M:%S',
          columns: [

            ['Time',
            {% for i in range(0, count|int) %}
            {% if i != count|int - 1 %}
            '{{ data[2][i] }}',
            {% else %}
            '{{ data[2][i] }}'
            {% endif %}
            {% endfor %}
            ],
            ['Open Interest Change',
            {% for i in range(0, count|int) %}
            {% if i != count|int - 1 %}
            '{{ data[1][i] }}',
            {% else %}
            '{{ data[1][i] }}'
            {% endif %}
            {% endfor %}
            ],
            ['Bank Nifty',
            {% for i in range(0, count|int) %}
            {% if i != count|int - 1 %}
            '{{ data[3][i] }}',
            {% else %}
            '{{ data[3][i] }}'
            {% endif %}
            {% endfor %}
            ]
          ],
          axes: {
                'Bank Nifty': 'y2'
            },
            },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%H:%M'
                        }
                    },
                    y: {
                        label: {
                            text: 'Open Interest Change',
                            position: 'outer-middle'
                        }
                    },
                    y2: {
                        show: true,
                        label: {
                            text: 'Bank Nifty',
                            position: 'outer-middle'
                    }
                }
        }


      });

    </script>
{% endif %}
{% endfor %}
{% endblock %}

